:root {
    --font-color: #1e1e24ff;
    --background-color: #efefefff;
    --accent-1: #935fa7ff;
    --accent-2: #fb4d3dff;
    --accent-3: #fe5f55ff;
}

body {
    background-color: var(--background-color);
    color: var(--raisin-black);
    font-family: cormorant, serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--raisin-black);
    font-family: cinzel, serif;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.color-box {
    display: inline-block;
    width: 50px;
    height: 20px;
}

.background-color-box {
    border: 1px solid black;
}