:root {
  --color-primary: #d4295f;
  --color-secondary: #2a384a;
  --color-accent: #008b94;
  /* Add a grey scale Colors */
  --color-mygrey-00: lab(100% 0 0);
  --color-mygrey-05: lab(95% 0 0);
  --color-mygrey-10: lab(90% 0 0);
  --color-mygrey-20: lab(80% 0 0);
  --color-mygrey-30: lab(70% 0 0);
  --color-mygrey-40: lab(60% 0 0);
  --color-mygrey-50: lab(50% 0 0);
  --color-mygrey-60: lab(40% 0 0);
  --color-mygrey-70: lab(30% 0 0);
  --color-mygrey-80: lab(20% 0 0);
  --color-mygrey-90: lab(10% 0 0);
  --color-mygrey-100: lab(0% 0 0);
}
* {
  font-family: "Truculenta", sans-serif;
}

/************************** HEADER **************************/
header {
  background-color: var(--color-mygrey-05);
  display: flex;
  align-items: center;
  justify-content: left;
}
header img {
  display: block;
  padding: 16px 10px;
  width: 50px;
  height: auto;
}
header span:first-child {
  font-size: 1.5rem;
}
header span:nth-child(2) {
  font-size: 0.75rem;
}

/************************** NAVIGATION **************************/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
nav ul li a {
  color: var(--color-mygrey-100);
  text-decoration: none;
  padding: 0.75rem;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
nav ul li.active a {
  background-color: var(--color-secondary);
  color: #fff;
}
nav ul li a:hover {
  background-color: var(--color-accent);
}

/************************** HAMBURGER NAVIGATION **************************/
button#hamburger {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  display: block;
  padding-bottom: 0.6rem;
  font-size: 2rem;
  color: var(--color-mygrey-60);
  text-align: center;
  width: 50px;
  cursor: pointer;
  font-family: "Verdana", sans-serif;
}

button#hamburger::before {
  content: "\2630";
}
button#hamburger.show::before {
  content: "x";
}
/************ Animate open and closed *************/
nav {
  background-color: var(--color-mygrey-20);
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}
nav.show {
  grid-template-rows: 1fr;
}

/************ Hero Image *************/
.hero {
  max-width: 1200px;
  position: relative;
}
.hero img {
  width: 100%;
  height: auto;
  display: block;
}
.hero a {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 100px;
  text-align: center;
  color: white;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-accent);
  box-shadow: 0 0 10px var(--color-mygrey-70);
}

/************ Overall Page Styling *************/
main h1 {
  margin: 0.5rem 10px;
  color: var(--color-secondary);
}
main h2 {
  margin: 0;
  padding: 0.5rem 10px;
  color: var(--color-primary);
}

main p {
  margin: 0.5rem 10px;
  color: #333;
}
main a {
  color: #82082f;
}

/************ Events and Weather *************/
.ew {
  margin: 0.5rem 10px;
}
.ew > div {
  background-color: var(--color-mygrey-05);
  border: 1px solid var(--color-mygrey-10);
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
}
.ew h2 {
  background-color: var(--color-mygrey-10);
}
div.events p {
  margin: 0.75rem 10px;
}
div.weather div {
  display: flex;
}
div.weather p {
  margin: 0.2rem 0;
  font-size: 0.85rem;
  color: var(--color-accent);
}
#forecast p {
  margin: 0.5rem 10px;
  font-family: Verdana, sans-serif;
  color: var(--color-mygrey-70);
}

/************************** HOME PAGE SPOTLIGHTS HERE **************************/
#spot div {
  background-color: var(--color-mygrey-05);
  text-align: center;
  border: 1px solid var(--color-mygrey-10);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}
#spot h2 {
  background-color: var(--color-mygrey-20);
  padding: 0.3rem 0;
  font-size: 1.1rem;
  color: var(--color-mygrey-80);
}
#spot p {
  margin: 0;
  padding: 0.5rem;
}
#spot img {
  width: 100%;
  height: auto;
}
#spot a {
  display: block;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  color: var(--color-mygrey-05);
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 99px;
  background-color: var(--color-primary);
}
#spot a:hover {
  background-color: var(--color-accent);
} 
/************************** DIRECTORY HERE **************************/
div.theButtons {
  width: 100%;
  text-align: center;
}
div.theButtons button.active {
  background-color: #f27d80;
}
div.theButtons button {
  margin: 0 1rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  border: 1px solid #666;
}
div#members {
  margin: 0 2vw;
}
/*GRID layout here*/
div.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
div.grid section {
  text-align: center;
  margin: 1rem 0;
  border: solid 1px #aaa;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}
div.grid img:first-child {
  width: 100%;
  height: auto;
}
div.grid h3 {
  margin: 0.2rem 0;
}
div.grid p {
  margin: 0.2rem 0;
}

/*LIST layout here*/
div.list section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  margin: 0.5rem 0;
  padding: 5px;
  border: solid 1px #aaa;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}
div.list img:first-child {
  display: none;
}

/************************** MODAL POPUPS **************************/
.mslvl aside {
  border: solid 1px #444;
  border-radius: 5px 20px;
  padding: 10px;
  background-color: var(--color-accent);
  text-align: center;
  margin-bottom: 1rem;
  animation-duration: 2s;
  animation-name: slidein;
}
.mslvl aside h3 {color: white;}

@keyframes slidein {
  0% {
    opacity: 0%;
    margin-top: 50px;
    background-color: var(--color-mygrey-05);
  }
  100% {
    opacity: 100%;
    margin-top: 0px;
    background-color: var(--color-accent);
  }
}

#mlModal {
  position: relative;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #eee;
  box-shadow: 0 0 15px #777;
  width: 300px;
}

#mlModal div {
  display: grid;
  grid-template-columns: auto 44px;
  border-bottom: dashed 1px var(--color-mygrey-30);
}

#mlModal h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  color:var(--color-secondary);
}
#mlModal span {
  font-size: 1rem;
}

::backdrop {
  background-color: rgba(255, 255, 255, 0.75);
}

#mlModal button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-mygrey-30);
  border-radius: 8px;
  background-color: var(--color-mygrey-10);
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
#mldetails p {
    font-weight: 600;;
}
#mldetails li {
    font-weight: 300;;
}
/************************** JOIN FORM **************************/
.sbs {
  padding: 1rem;
}
form.designOne {
  margin: 1rem 2%;
}
.designOne label {
  display: block;
  font-size: 0.8rem;
  color: #d4295f;
  padding-top: 0.2rem;
}
.designOne h3 {
  font-size: 0.9rem;
  color: #e07a5f;
  margin: 1.5rem 0 0.2rem 0;
  border-bottom: 1px solid #eee;
}

.designOne input[type="text"],
.designOne input[type="tel"],
.designOne input[type="date"],
.designOne input[type="email"],
.designOne textarea,
.designOne select {
  display: block;
  margin: 0.1rem 0 1rem 0;
  padding: 0.3rem;
  border: 1px solid #999;
  border-radius: 4px;
  border-left-width: 5px;
  border-left-color: #555;
  font-size: 1rem;
  color: #3d405b;
  width: 250px;
}

.designOne input:required {
  border-left-color: #d70000;
}
.designOne input:focus {
  border-left-color: black;
  outline: none;
}
.designOne input:required:valid {
  border-left-color: green;
}

.designOne input[type="submit"] {
  border: 1px solid black;
  text-align: center;
  color: white;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0;
  font-size: 1.2rem;
  -webkit-appearance: none;
  appearance: none;
  animation: color_change 2s infinite alternate linear;
}

@keyframes color_change {
  0% {
    border-radius: 1px 20px;
    background-color: var(--color-secondary);
  }
  100% {
    border-radius: 20px 1px;
    background-color: var(--color-accent);
  }
}
.designOne input:-webkit-autofill {
  -webkit-text-fill-color: #3d405b;
}

#results {
  background-color: #f4f1de;
  padding: 0 1rem;
  margin: 10px;
  border: 1px solid #e07a5f;
  border-radius: 6px;
}

/************************** DISCOVER PAGE HERE **************************/
#allplaces div {
  margin: 1rem 8px;
  padding: 10px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;

  display: grid;
  gap: 10px;
  grid-template-areas:
    "name"
    "photograph"
    "description"
    "cost"
    "location"
    "button";
}
#allplaces div h2 {
  margin: 1rem 0px;
  grid-area: name;
}
#allplaces div img {
  width: 100%;
  grid-area: photograph;
}
#allplaces div p {
  margin: 0 0 1rem 0px;
  grid-area: description;
}
#allplaces div address {
  margin: 1rem 0px;
  grid-area: location;
}
#allplaces div button {
  margin: 1rem 0px;
  background-color: #d4295f;
  color: #eee;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  grid-area: button;
}

/************************** FOOTER **************************/
footer {
  background-color: var(--color-mygrey-90);
  color: var(--color-mygrey-05);
}
footer section {
  padding: 2rem 10px;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social a {
  width: 44px;
  height: 44px;
  margin: 1rem;
  border-radius: 99px;
  border: 1px solid var(--color-mygrey-05);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: auto;
  height: 22px;
}
footer p {
  margin: 0.25rem;
}
