/* COLOR SCHEME
antique white #F4F1DE
terra cotta #E07A5F
deep slate blue #3D405B, 
muted sage green #81B29A */
* {
    font-family: "Cormorant Upright", serif;
}

/************************** HEADER **************************/
header {
    background-color: #81B29A;
    display: flex;
    align-items: center;
    justify-content: left;
}
header img {display: block; padding: 10px 2vw;}
header span {font-size: 2rem;}


/************************** NAVIGATION **************************/
nav {
    background-color: #3D405B;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li a {
    color: #F4F1DE;
    text-decoration: none;
    padding: .75rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
nav ul li.active a {background-color: #E07A5F; color: #000;}

/************************** HAMBURGER NAVIGATION **************************/
button#hamburger {
    position: absolute;
    top: 0;
    right: 0;
	background: none;
	border: none;
	display: block;
	padding-bottom: .6rem;
	font-size: 2rem;
	color: #fff;
	text-align: center;
	width: 50px;
	cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
}

button#hamburger::before {
	content: "\2630";
}
button#hamburger.show::before {
	content: "x";
}
nav {
    display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}
nav.show {
    grid-template-rows: 1fr;
}
nav ul {overflow: hidden;}






/************************** CARD LAYOUT **************************/
.card {
    border: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    margin: .5rem 2vw;
    overflow: hidden;
}
.myphoto {text-align: center;}
.myphoto figure {
    margin: .5rem auto;
}
.myphoto img {
    border-radius: 10px;
    width: 96%;
    height: auto;
    max-width: 250px;
    margin: 0 2%;
}
.card h2 {
    background-color: #3D405B;
    color: #F4F1DE;
    margin: 0;
    padding: .5rem 0;
    text-align: center;
}
.courses div {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.courses button {
    padding: .75rem;
    margin: .5rem;
    border: 1px solid #999;
    border-radius: 10px;
    background: linear-gradient(#F4F1DE, #E07A5F);
}
#crsList div {
    padding: .75rem;
    margin: 1rem;
    border-radius: 10px;
}




/************************** DISPLAY COURSES **************************/
.needed {
    background-color: #E07A5F;
}
.complete {
 background-color: #F4F1DE;
}


/************************** FOOTER **************************/
footer {
    background-color: #81B29A;
    text-align: center;
    padding: 1rem 0;
}
footer p {margin: .25rem;}